<% layout("index") %>

  <!-- Sección 2: Ventas por producto -->
  <h2 class="mb-4">PRODUCTOS VENDIDOS</h2>

  <form class="row align-items-end g-3 mb-4" method="GET" action="/reporte/ingresos-producto">
    <div class="col-md-6">
      <label for="producto" class="form-label">Seleccionar Producto</label>
      <select name="nombreProducto" class="form-select" id="producto">
        <option selected>Seleccionar...</option>
        <option value="">Todo</option>
        <option value="Aceite 20W50">Aceite 20W50</option>
        <option value="Aditivo Antifricción">Aditivo Antifricción</option>
        <option value="Lubricante Sintético">Lubricante Sintético</option>
      </select>
    </div>

    <div class="col-md-6">
      <button type="submit" class="btn btn-success w-100">Buscar</button>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Producto</th>
          <th>Ingresos</th>
        </tr>
      </thead>
      <tbody>
        <% if (!ingresos || ingresos.length===0) { %>
          <tr class="table-warning">
            <td colspan="4" class="text-center fw-bold py-3">
              🚫 No hay ventas registradas
            </td>
          </tr>
          <% } else { %>
            <% ingresos.forEach(item=> { %>
              <tr>
                <td><%- item.producto %></td>
                <td><%- item.ingresos %></td>
              </tr>
              <% }); %>
                <% } %>
      </tbody>
    </table>
  </div>

  </div>